@charset "UTF-8";

body {
    background-color: rgba(20, 128, 196, 0.4);
}

h1 {
    /*background-color: rgba(100,100,10,0.5)*/
    color: rgba(50, 84, 192, 0.90);
    font-family: Georgia, serif;
    font-size: 48px;
    margin-left: 10px;
    margin-bottom: 10px;
}

h2 {
    /*background-color: rgba(100,100,10,0.5)*/
    color: rgba(50, 84, 192, 0.90);
    font-size: 36px;
    margin-left: 20px;
}

h3 {
    /*background-color: rgba(100,100,10,0.5)*/
    color: rgba(50, 84, 192, 0.90);
    font-family: "Times New Roman", Times, serif;
    font-size: 28px;
    margin-left: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
}

p {
    color: #202020;
    font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

a.title{
  /*margin: 0px;*/
  color: #0022ff;
  text-decoration:none;
  padding: 4px;
  border: 2px solid #0022ff;
}

a.title:link, a.title:visited{
  background-color: rgba(255, 255, 255, 0.50);
}

a.title:hover, a.title:active{
  background-color: rgba(255, 255, 255, 0.65);
}


blockquote {
    color: #3f3f3f;
    font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', Times, serif;
    font-size: 20px;
    /*font-weight: bold;*/
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

img {
    margin-left: 40px;
}

table {
    margin-top: 10px;
    margin-bottom: 10px;
}
