@charset "UTF-8";

body {
    color: #202020;
    background-color: rgba(20, 128, 196, 0.4);

    font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: bold;
}

h1 {
    margin-bottom: 10px;
    margin-left: 10px;
    /*background-color: rgba(100,100,10,0.5)*/

    color: rgba(50, 84, 192, 0.90);

    font-family: Georgia, serif;
    font-size: 48px;
}

h2 {
    margin-left: 20px;
    /*background-color: rgba(100,100,10,0.5)*/

    color: rgba(50, 84, 192, 0.90);

    font-size: 36px;
}

h3 {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 20px;
    /*background-color: rgba(100,100,10,0.5)*/

    color: rgba(50, 84, 192, 0.90);

    font-family: "Times New Roman", Times, serif;
    font-size: 28px;
}

p {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;

    color: #202020;

    font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: bold;
}


.QuesTable th, .QuesTable td{
  width: 50%;

  text-align: left;
  vertical-align: middle;

  border: 1px solid black;
}

.QuesTable .Choice_Letter{
  text-align: right;
  width: 5%;
}

.QuesTable .Choice_Text{
  width: 45%;
}
